/*****
    GENERAL
*****/
.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.fixed-top {
    position: fixed;
    top: 0;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.center {
    margin: 0 auto;
}

.text-white {
    color: white !important;
}

/*
    SideNav
*/

header, main, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }

.side-nav {
    padding: 15px;
    background-color: #607D8B;
    /*background: url("../image/bg-sidenav.jpeg") no-repeat center;
    background-size: cover;*/
    height: 100vh;
    color: white;
}

.side-nav li>a {
    color: white;
}

.side-nav li>a>i {
    color: white;
}

#side-nav-button {
    display: none;
}

#nav-items {
    padding-top: 15px;
}

#nav-footer {
    position: absolute;
    margin: auto;
    padding: 50px;
    padding-bottom: 90px;
    width: 100%;
    bottom: 0;
}

#nav-footer a {
    color: white;
    padding-right: 20px;
}

#img-me {
    margin: auto;
    padding: 15px;
    width: 175px;
    height: 175px;
    background: url("../image/me.jpg") no-repeat center;
    background-size: cover;
    
}

/*
    Main block
*/
.main-block {
    margin: 0;
    padding: 0;
    margin-left: 300px;
}

@media only screen and (max-width : 992px) {
    .main-block {
        margin-left: 0px;
    }

    #side-nav-button {
        display: block;
    }
  }

/* 
  Presentation
*/
#presentation {
    background: url("../image/bg2-blur.jpg") no-repeat bottom;
    background-size: cover;
   /* background-color: beige;*/
    min-height: 450px;
    padding: 15px;
    color: white;
}

#presentation h3 {
    padding-top: 50px;
}


/*
    Competences
*/
.langage-block {
    padding: 15px;
}

/*
    Portfolio
*/
#portfolio {
    padding-top: 50px;
}

.block-protfolio {
    margin: 20px;
}


/*
    Contact
*/
#contact {
    padding: 50px;
    background: url("../image/bg-contact.jpg") no-repeat center;
    background-size: cover;
    color: white;
}